{% extends 'base.html' %}

{% block title %}
Listagem de livros
{% endblock title %}

{% block tituloPagina %}
Listagem de Livros
{% endblock tituloPagina %}

{% block content %}

<table class="table">
  <thead>
    <tr>
      <th>Autor</th>
      <th>Titulo</th>
      <th>Ano</th>
     <th>Editora</th>
      <th>Email</th>
      <th>Editar</th>
      <th>Remover</th>
    </tr>
  </thead>
  <tbody>
  {% for Livro in lista %}
    <tr>
      <td>{{ Livro.Autor }}</td>
      <td>{{ Livro.Titulo }}</td>
      <td>{{ Livro.ano }}</td>
      <td>{{ Livro.Editora }}</td>
      <td>{{ Livro.Email }}</td>
      <td>
        <a href ="{% url 'livro_edit' pk=Livro.pk %}">
          <button>Editar</button>
        </a>
      </td>
      <td>
        <a href ="{% url 'livro_remove' pk=Livro.pk %}">
          <button>Remover</button>
        </a>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
<a href="{% url 'livro_new' %}">
<button type="submit" class="btn btn-primary">
    Cadastrar
</button>
</a>

{% endblock content %}